# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Adri\Desktop\Egyetemi dolgok\Programozási technológiák\Gyakorlat\Progtech_Beadando\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
